# Binaries
*.o
*.so
*/*.o
*/*/*.o
*.a
*.framework
*.exe
*.dll
*.pdb
build/
CMakeLists.txt.*
cmake_install.cmake
*.orig
*.cbp
*.dsw
*.vsxproj
*.vsproj
*.sln
.waf-*
waf-*
.waf3-*
waf3-*
.lock*
*.pyc
.vscode/
.vs/
CMakeSettings.json
CMakeFiles
CMakeCache.txt
Makefile

# Android Studio/Gradle
.gradle/
.externalNativeBuild
.cxx/
.idea/
local.properties
.project
.classpath
.settings
.depproj/server.vcxproj.filters
.depproj/server.vcxproj
.depproj/project_view.vcxproj.filters
.depproj/project_view.vcxproj
.depproj/install_all_projects.vcxproj.filters
.depproj/install_all_projects.vcxproj
.depproj/client.vcxproj.filters
.depproj/client.vcxproj
.depproj/build_all_projects.vcxproj.filters
.depproj/build_all_projects.vcxproj
