# Binaries
*.o
*.so
*/*.o
*/*/*.o
*.a
*.framework
*.exe
*.dll
*.pdb
build/
CMakeLists.txt.*
cmake_install.cmake
*.orig
*.cbp
*.dsw
*.vsxproj
*.vsproj
*.sln
.lock*
*.pyc
.vscode/
.vs/
CMakeSettings.json
CMakeFiles
CMakeCache.txt
Makefile

# Android Studio/Gradle
.gradle/
.externalNativeBuild
.cxx/
.idea/
local.properties
.project
.classpath
.settings

.depproj/*
*.lastbuildstate

waf-*/waflib/__pycache__/*
.waf-*/waflib/__pycache__/*
waf3-*/waflib/__pycache__/*
.waf3-*/waflib/__pycache__/*